<h1>
  The End!
</h1>

<p>
  Hopefully you are happy with your midterm grade.
  There is still plenty of time left in the year.
  Your grade is by no means set in stone.
</p>

<p>
  <a href="/">Play again?</a>
</p>